
{% extends 'layout_admin.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('Dashboard') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Projets</li>
            <li class="breadcrumb-item active">Ajouter une catégorie</li>
        </ol>
        <div class="col-md-6">

            {% for message in app.flashes('notice') %}
                <div class="flash-notice alert alert-success" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}

            {{ form_start(form) }}
            {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Ajouter</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

