{% extends 'layout_admin.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Mon Dashboard</li>
        </ol>

        {% for message in app.flashes('notice') %}
            <div class="flash-notice alert alert-success" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-6">
                <div class="social-box facebook">
                    <i class="fa fa-facebook"></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ nbrFriends }}</span>
                                <span>Amis</span>
                            </strong></li>
                        <li>
                            <strong><span class="count">{{ nbrFeed }}</span>
                                <span>Publications</span>
                            </strong></li>
                    </ul>
                </div>
                <!--/social-box-->
            </div>

            <div class="col-lg-6">
                <div class="social-box twitter">
                    <i class="fa fa-twitter"></i>
                    <ul>
                        <li>
                            <strong><span class="count">{{ twitter.friends_count }}</span>
                                <span>Amis</span>
                            </strong></li>
                        <li>
                            <strong><span class="count">{{ twitter.statuses_count }}</span>
                                <span>tweets</span>
                            </strong></li>
                    </ul>
                </div>
                <!--/social-box-->
            </div>
        </div>

        <hr style="margin: 50px;">

        <div class="row">
            <div class="col-lg-3">
                <section class="card">
                    <div class="twt-feed blue-bg">
                        <div class="fa fa-twitter wtt-mark"></div>
                        <div class="media">
                            {#<a href="#">#}
                                {#<img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{{ twitter.profile_image_url }}">#}
                            {#</a>#}
                            <div class="media-body">
                                <h2 class="text-white display-6">{{ twitter.name }}</h2>
                                <p class="text-light">{{ twitter.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-category twt-category">
                        <ul class="p-0">
                            <li class="active">
                                <h5>{{ twitter.statuses_count }}</h5>
                                Tweets
                            </li>
                            <li>
                                <h5>{{ twitter.friends_count}}</h5>
                                Following
                            </li>
                            <li>
                                <h5>{{ twitter.followers_count }}</h5>
                                Followers
                            </li>
                        </ul>
                    </div>
                    <div class="twt-write col-sm-12">
                        {% for type, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ type }} fade-in">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {{ form(form) }}
                    </div>
                    <footer class="twt-footer">
                        <a href="#"><i class="fa fa-camera"></i></a>
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        {{ twitter.location }}
                        <span class="pull-right">
                            32
                        </span>
                    </footer>
                </section>
            </div>

            <div class="col-lg-6">
                <iframe src="https://calendar.google.com/calendar/embed?title=Agenda%20de%20Romain%20Ollier&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=romain.ollier34%40gmail.com&amp;color=%2329527A&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=Europe%2FParis" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>

            <div class="col-lg-3">

                    <div class="card text-white bg-success" style="margin-bottom: 10px;">
                        <div class="card-body">
                            Téléchargement du CV : {{ nbrCvDownload }} fois
                        </div>
                    </div>

                    <div class="card text-white bg-primary" style="margin-bottom: 10px;">
                        <div class="card-body">
                            Info :
                        </div>
                    </div>

                    <div class="card text-white bg-secondary" style="margin-bottom: 10px;">
                        <div class="card-body">
                            Info :
                        </div>
                    </div>

            </div>
        </div>


    </div>
    <!-- /.container-fluid-->
{% endblock %}