{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('build/css/admin/admin.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav %}
    {{ include(':inc:navbar-admin.html.twig') }}
{% endblock %}

{% block body %}
<div class="content-wrapper">
{% block content %}{% endblock %}
</div>

<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © romain-ollier.com 2018</small>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pret à partir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à terminer votre session en cours.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{{ path('security_logout') }}">Déconnexion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/admin/sb-admin.js') }}"></script>
    <script src="{{ asset('js/admin/edit-ajax.js') }}"></script>
    <script src="{{ asset('js/admin/add-category-ajax.js') }}"></script>
    {{ tinymce_init() }}
{% endblock %}