{% extends 'base.html.twig' %}

{% block title %}
<title>Romain Ollier - Portfolio</title>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/my-style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/portfolio.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block body %}

    {#Navbar#}

    {{ include(':inc:navbar.html.twig') }}



    {#Header#}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto sr-container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Bienvenue, je suis Romain Ollier et ce site est mon portfolio</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">Vous retrouverez ici mes projets réalisés ainsi que mon cv et un formulaire de contact.</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
                </div>
            </div>
        </div>
    </header>



    {#About#}

    <section class="bg-primary" id="about">
        <div class="container sr-container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">A propos</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Rhoncus urna neque viverra justo nec. Ultrices in iaculis nunc sed augue lacus viverra. In vitae turpis massa sed elementum.
                        Ut sem viverra aliquet eget sit amet tellus cras adipiscing. Aliquet eget sit amet tellus. Et malesuada fames ac turpis.
                        Curabitur gravida arcu ac tortor dignissim. Aenean euismod elementum nisi quis. Nisl nunc mi ipsum faucibus vitae.
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio">Voir les projets</a>
                </div>
            </div>
        </div>
    </section>



    {#Portfolio#}

    <section class="bg-dark" id="portfolio">
        <div class="container sr-container">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">Quelques projets réalisés</h2>
                    <hr class="my-4">
                </div>
                <div class="col-lg-6 mx-auto">
                    <nav>
                        <ul>
                            <li class="filter-button active-category first text-center" data-filter="all">Tout</li>
                            <li class="filter-button text-center" data-filter="php">PHP</li>
                            <li class="filter-button text-center" data-filter="javascript">Javascript</li>
                            <li class="filter-button text-center" data-filter="symfony">Symfony</li>
                            <li class="filter-button last text-center" data-filter="wordpress">Wordpress</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row justify-content-center">

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter php symfony">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/01-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 1</h3>
                                <p>PHP - Symfony</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter javascript">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/02-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 2</h3>
                                <p>Javascript</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter symfony">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/03-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 3</h3>
                                <p>Symfony</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter wordpress">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/04-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 4</h3>
                                <p>Wordpress</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter php">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/05-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 5</h3>
                                <p>PHP</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="projets_album col-md-6 col-sm-12 portfolio-item filter javascript">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content d-flex align-items-center justify-content-center">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <figure>
                            <img class="img-fluid" src="{{ asset('img/portfolio/thumbnail/06-thumbnail.jpg') }}" alt="" />
                            <figcaption>
                                <h3>Projet 6</h3>
                                <p>Javascript</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </section>



    {#Portfolio Modals#}

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/01-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): PHP - Symfony</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/02-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): Javascript</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du Projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/03-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): Symfony</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/04-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): Wordpress</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/05-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): PHP</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase">Nom du projet</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ asset('img/portfolio/full/06-full.jpg') }}" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>Date: Janvier 2017</li>
                                    <li>Catégorie(s): Javascript</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fa fa-times"></i>
                                    Fermer le projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {#CV#}

    <section class="bg-primary text-white" id="CV">
        <div class="container text-center sr-container">
            <h2 class="mb-4">Plus d'informations sur mes compétences et mon parcours ?</h2>
            <a class="btn btn-light btn-xl sr-button" href="{{ path('cv') }}" target="_blank">Voir mon cv !</a>
        </div>
    </section>



    {#Contact#}

    <section id="contact" class="bg-dark">
        <div class="container sr-container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center text-white">
                    <h2 class="section-heading">Envie de me contacter ?</h2>
                    <hr class="my-4">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-8 mx-auto text-center">
                    {% for type, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ type }} fade-in">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form(contact_form) }}
                </div>
            </div>
        </div>
    </section>



    {#Footer#}
    <footer id="lab_social_icon_footer" class="bg-dark">
        <div class="container">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/#" target="_blank"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/#" target="_blank"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/#" target="_blank"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
            </div>
        </div>
    </footer>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/portfolio.js') }}"></script>
    <script src="{{ asset('js/filter.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}

