{% extends 'base.html.twig' %}


{% block stylesheets %}
<link href="{{ asset('css/my-style.css') }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/portfolio.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

    <!-- ===== NavBar ===== -->

    {{ include(':inc:navbar.html.twig') }}



    <!-- ===== Header ===== -->

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto sr-container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Bienvenue, je suis Romain Ollier et ce site est mon portfolio</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded mb-5">Vous retrouverez ici mes projets réalisés ainsi que mon cv et un formulaire de contact.</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
                </div>
            </div>
        </div>
    </header>



    <!-- ===== About ===== -->

    <section class="bg-primary" id="about">
        <div class="container sr-container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">A propos</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">
                        {% for about in abouts %}
                        {{ about.resume }}
                        {% endfor %}
                    </p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio">Voir les projets</a>
                </div>
            </div>
        </div>
    </section>



    <!-- ===== Portfolio ===== -->

    <section class="bg-dark" id="portfolio">
        <div class="container sr-container">
            <div class="row ">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">Quelques projets réalisés</h2>
                    <hr class="my-4">
                </div>
                <div class="col-lg-6 mx-auto">
                    <nav>
                        <ul class="portfolio-menu">
                            <li class="filter-button active-category first text-center" data-filter="all">Tout</li>
                            <li class="filter-button text-center" data-filter="php">PHP</li>
                            <li class="filter-button text-center" data-filter="javascript">Javascript</li>
                            <li class="filter-button text-center" data-filter="symfony">Symfony</li>
                            <li class="filter-button last text-center" data-filter="wordpress">Wordpress</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div style="position:relative; min-height: 331px;">
                <div id="loading" style="z-index: 10; display: none;">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                    <h2 class="loading-text">Chargement...</h2>
                </div>
                <div class="row justify-content-center" id="portfolio-container" style="position:relative;">
                    {#Project gallery with Ajax#}
                </div>
            </div>

        </div>

    </section>

    <!-- ===== Portfolio Modals ===== -->

    <div id="modals">
        {#Portfolio Modals with Ajax#}
    </div>



    <!-- ===== CV ===== -->

    <section class="bg-primary text-white" id="CV">
        <div class="container text-center sr-container">
            <h2 class="mb-4">Plus d'informations sur mes compétences et mon parcours ?</h2>
            <a class="btn btn-light btn-xl sr-button" href="{{ path('Mon CV') }}" target="_blank">Voir mon cv !</a>
        </div>
    </section>



    <!-- ===== Contact ===== -->

    <section id="contact" class="bg-dark">
        <div class="container sr-container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center text-white">
                    <h2 class="section-heading">Envie de me contacter ?</h2>
                    <hr class="my-4">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-md-8 mx-auto text-center">
                    {% for type, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ type }} fade-in">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form(contact_form) }}
                </div>
            </div>
        </div>
    </section>



    <!-- ===== Footer ===== -->

    <footer id="lab_social_icon_footer" class="bg-dark">
        <div class="container">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/#" target="_blank"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/#" target="_blank"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/#" target="_blank"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ajax.js') }}"></script>
    <script src="{{ asset('js/portfolio.js') }}"></script>
    <script src="{{ asset('js/filter.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

